/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul li a{
   color: black;
 }

 nav.nav-center ul {
     text-align: center;
 }

body{
  background-color: #141414;
  color: #ededed;
  font-family: 'Jura', sans-serif;
  font-size: Bold;
}

#Iconos{
  padding-top: 15px;
  height: auto;
  width:  32px;
}

#TituloYe{
  font-family: 'Orbitron', sans-serif;
  font-size: Bold;
  color: #F2C200;
  text-align: left;
}

#TituloRe{
  font-family: 'Orbitron', sans-serif;
  font-size: Bold;
  color: #FF0044;
  text-align: right;
}

#TituloReL{
  font-family: 'Orbitron', sans-serif;
  font-size: Bold;
  color: #FF0044;
  text-align: left;
}

#Titulo{
  font-family: 'Orbitron', sans-serif;
  font-size: Bold;
}

 #Banner{
   background-color: #141414;
   font-family: 'Orbitron', sans-serif;
   font-size: Bold;
 }

 #logo{
   padding-top: 15px;
   height: auto;
   width:  245px;
 }

#Dere{
  text-align: right;
}

#Izq{
  text-align: left;
}

#Intro{
  background-color: ##5F0076;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ffff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {

  margin: 0;
}
